/*=================================== DENNIS ========================= stop =================================================================*/

*, *:before, *:after {
  box-sizing: inherit;
}

.column {
  float: left;
  width: 18%;
  margin-bottom: 16px;
  padding: 0 8px;
}

@media screen and (max-width: 700px){
    .column {
    width: 100%;
    display: block;
    box-sizing: border-box;
  }
}

.logoimg {
  float:left;
}

.dkbackground{background-image: url(blackback.png);
  background-repeat: no-repeat;
  margin-bottom:10%;
  width: 100%;
  height: 100%;
  transition-duration:4s;
  margin-left:30%;
  
}

.img {
  max-width: 100%; 
  height: auto;  
}

.employee{
  font-size: 2vw;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
  font-weight:bold;

}
.emoloyeedesc{font-size: 1vw;
  font-family:Arial, Helvetica, sans-serif ;
  font-style:italic;
  font-weight:normal;

}
/*===================================DENNIS==== stop======================================================================================*/


/*===================================DENNIS==========================================================================================*/




body {
    font-family: "Lato", sans-serif;
  }
  
  .pknav {
    height: 100%;
    width: 300px;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background: linear-gradient(298deg,#f70b7f 3%,#9a249c 60%,#4f0dcf 97%);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .pknav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
    margin-bottom: 13px;
  }
  
  .pknav a:hover {
    color:#8c8c8c;
  }
  
  .pknav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
  }
  
  #main {
    transition: margin-right .5s;
    padding: 260px;
  }
  
  .openbtn {
    font-size: 30px;
    cursor: auto;
    position:absolute;
    top: 16px;
    right: 26px;
  }
  
  .footer{
    font-family: 'Lucida Sans';
    background-color: linear-gradient(298deg,#f70b7f 3%,#9a249c 60%,#4f0dcf 97%);
    padding: 10px;
    text-align: center;
    color: white;
  }
  
  @media screen and (max-height: 550px) {
    .pknav {padding-top: 15px;}
    .pknav a {font-size: 18px;}
  }

/*-----------------------------------Athulya-Header-----------------*/

.head{
  width:90%;
  height:100px;
  display:block;
  background-color:#c0c0c0;
  text-align: center;
  font-style: italic;
  font-family:Arial, Helvetica, sans-serif;
  font-weight:bold;
  font-size: 1vw;
  color: #f0f8ff;
  margin-top: 0%;
 
  
}


.motto{
  padding:120px;
  width:90%;
  background-color:#00aeff;
  display:block;}

.heading{
  color: #d2691e;
  text-align: center;
  text-decoration: wavy;
  font-style: oblique;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 400;
  font-size: 200%;

}

.consult{
  color:#4f0dcf;
  text-align: center;
  text-decoration:underline;
  font-style:italic;
  font-size:100%;
}
@media (max-width:700px)
{.head,.motto,.heading,.consult{
  flex: column;
  text-align: center;
}}

/*===================================Priscilla==========================================================================================*/
.footer{
  padding: 10px;
  background-color: beige;

}
.footerstyle{
  width: 100%;
}
.FooterIcon ul{
  justify-content: center;
  display: flex;
  background-color: black;
  border-radius: 3%;
  box-sizing: content-box;
  padding: 3%;
}
.FooterIcon ul li{
  padding: 35px;
}
.FooterIcon ul li a{
  text-decoration: none;
  padding: 10px;
  margin: 20px;

}
  
.FooterIcon a:hover{
  background-color:gold ;
  transition: 1s;
  padding: 3%;
}
.footerpage ul{
  display: flex;
  justify-content: center;
  text-decoration: none;
  padding: 5px;
  margin: 0.5%;
}
.footerpage ul li{
  padding: 5px;
  margin: 0.5%;
  list-style-type: none;
}
.footerpage ul li a{
  transition: 1s;
  text-decoration: none;
  font-family:  Georgia;
  font-size: small;
  color: rgb(74, 192, 225);   

}
.footerpage ul li a:hover{
  opacity: 2;
  background-color: rgb(125, 221, 234);
}
.footerCopyright{
  background-color: black;
  margin: 10px ;
  padding: 10px;
  

}
.footerCopyright ul {
  display: flex;
}
.footerCopyright ul li{
  padding: 5px;
  text-decoration: none;
  list-style-type: none;
  margin: 0.5%;
}
.footerCopyright ul li a{
  color: gold;
  text-decoration: none;
  transition: 0.5s;
}
.footerCopyright ul li a:hover{
  transition: 0.5s;
  color: rgb(244, 176, 5);
  padding: 2px;

}
@media screen and (max-width: 700px){
  .footerpage ul{
      flex-direction:column;
  }
  .footerpage ul li a{
      width: 100%;
      text-align: center;
  }
  .FooterIcon ul{
      flex-direction: column;
  }
  .footerpage ul li a{
      width: 100%;
      text-align: center;
  }
  .footerCopyright ul{
    flex-direction:column;
  }
  .footerCopyright ul li{
    width: 100%;
    text-align: center;
  }
}

  

