
* {
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  .row::after {
    content: "";
    clear: both;
    display: table;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
  }
  
  [class*="col-"] {
    float: left;
    padding: 15px;
  }

.row::after {
  content: "";
  clear: both;
  display: table;   
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}


html {
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.menu li {
  padding: 8px;
  margin-bottom: 7px;
  background: linear-gradient(298deg,#f70b7f 3%,#9a249c 60%,#4f0dcf 97%);
  color: #ffffff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.menu li a{
  color:white;
  cursor: pointer;
  display: inline-block;
  transition: all 0.3s;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.aside {
  background: linear-gradient(298deg,#f70b7f 3%,#9a249c 60%,#4f0dcf 97%);
  padding-left: 35px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  color: #ffffff;
  box-shadow: 0 10px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.header {
  background-color: #03a8a8;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
  background-image: url("images/mount.jpg");
  background-attachment: fixed;
}

.header p{
  font-style:italic;
  padding: 0;
  margin: 0;
}

/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}

}
@media only screen and (mins-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}

}
ul.li {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.careers{
text-align: center;

}
.CareerTitle{
font-weight:bold ;
background-color: lightpink;
}
.option_1{
text-align:center ;
padding: 2px;
background-color: lightcyan;
text-decoration: none;
font-family: Cambria, serif;
margin: 2px;
color: #9a249c ;
}
.option_2{
  text-align:center ;
  padding: 2px;
  background-color: lightblue;
  text-decoration: none;
  font-family: Cambria, serif;
  margin: 2px;
}
.option_3{
    text-align:center ;
    padding: 2px;
    background-color: lightcoral;
    text-decoration: none;
    font-family: Cambria, serif;
    margin: 2px;
  }
  .option_4{
    text-align:center ;
    padding: 2px;
    background-color: lightcoral;
    text-decoration: none;
    font-family: Cambria, serif;
    margin: 2px;
  }
  .option_5{
    text-align:center ;
    padding: 2px;
    background-color: lightblue;
    text-decoration: none;
    font-family: Cambria, serif;
    margin: 2px;
  }
.mail{
background-color: yellow;
padding: 3px; ;
-webkit-text-fill-color: crimson;
text-decoration: none;
}
  /* Style for seasrch container */
.searchc {
  text-align: right;
  margin-top: 20px;
}
.contact.content.h2{
  font-size: 50px;
}

/* Style for the search input */
.searchc input[type=text] {
  padding: 10px;
  width: 20%; /* Adjust width as needed */
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; /* Ensure padding doesn't increase width */
}

/* Style for the search button */
.searchc button {
  padding: 10px 10px;
  background-color: #0099cc;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;


}

/*dennis*/
.logo{position:absolute;
top:10px;
left:10px;}

.wrapper{
min-width: 100%;
margin:0px auto;
background-color: dimgray;
background-image:url("images/andrew-stutesman-l68Z6eF2peA-unsplash.jpg");
background-position:center;
background-size: 100%;
font-family: 'Times New Roman', Times, serif;
text-align: center;

background-attachment: fixed;
background-size: cover;
          overflow-x: hidden;
          display: block;
}
.figure{
  display: block;
  margin: 0px;
  padding: 10px;
  text-align: left;
  border: 1px solid #d6d6d6;
  padding-left:30%;
  
  }
  
  .aboutheader {
  position: relative;
  padding: 200px 0; }
  
  .reviewback{background-image: url(images/blackback.png) ;
  background-attachment: fixed;
  background-size: cover;
            overflow-x: hidden;}
  .reviewper1{background-image: url("images/peopler.png");
  padding: 50px;
  margin-top: 10%;
  margin-bottom: 25%;
  margin-left: 25%;
  margin-right: 25%;
  
  }
  .reviewper2{font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-style: italic;
  font-size: large;
  color: gold
  ;display: block;
  padding: 30px ;
  float:left;
  }
  .reviewper3{align-items: center;
  display:block;}
.aboutname{
font-family: Verdana, Geneva, Tahoma, sans-serif;
color: #055002;
font-weight: bold;
}

.us{margin-left: 35%;
display: block
;align-content: center;}

.about{font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
color: cadetblue;
font-style: italic;
}
/* Priscilla */

.footer{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgb(225, 135, 239);
  height: auto;
  /* width: 100vw; */
  padding-top: 40px;
  color: rgb(13, 2, 72);
}
.footer_start{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background-color:black ;
}
.footer_start h3{
  font-size:15px;;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 1px;
  padding-bottom: 2px;
  margin-bottom: 0%;
  color:white;
}
.footer_start p{
  max-width: 500px;
  margin: 10px auto;
  line-height: 1px;
  font-size: 10px;
  color: #f0e850;
}
.footer_media{
  list-style: none;
  display: flex;
  align-items:baseline;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}
.footer_media ul{
  display: flex;
}
.footer_media li{
  margin: 0 10px;
}
.footer_media a{
  text-decoration: none;
  color: #fff;
  border: 1.1px solid white;
  padding: 5px;
  border-radius: 20%;

}
.footer_media a i{
  font-size: 1.1rem;
  width: 20px;
  transition: color .25s ease;
}
.footer_media a:hover i{
  color: rgb(61, 3, 65);
}
.footer_copyright{
  background: #000;
  /* width: 100vw; */
  padding: 20px;
  padding-bottom: 10px;
  text-align: center;
}
.footer_copyright p{
  float: left;
  font-size: 10px;
  word-spacing: 2px;
  text-transform: capitalize;
}
.footer_copyright p a{
  color:#44bae8;
  font-size: 10px;
  text-decoration: none;
}
.footer_copyright span{
  text-transform: uppercase;
  opacity: .4;
  font-weight: 200;
}
.footer_menu{
  float:right;

}
.footer_menu ul{
  display: flex;
}
.footer_menu ul li{
padding-right: 10px;
display: block;
}
.footer_menu ul li a{
  color: #cfd2d6;
  text-decoration: none;
  font-size: 10px;
}
.footer_menu ul li a:hover{
  color: #27bcda;
}  
@media (max-width:700px) {
  .footer_menu ul{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .footer_media {
    
      display: flex;
      flex-direction: column;
      margin-top: 10px;
      margin-bottom: 20px;
    
  }
  }
  .remote{
    color: #4f0dcf;
    font-weight: 300;
    text-align: center;
    padding: 12px;
  }
  .remote_header{
    color:#9a249c;
    font-style:italic ;
    text-align: center;

  }

  .overview p{
    color: #000;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: left;
  }
  .remote_image{
    height: auto;
    width: 100%;
  }
/*athulya contact*/
  .image{
    background-image:url("images/as-1.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .contact{
  padding:30px;
  display:block;
  box-sizing: border-box;

  }
  .content{
    max-width:1140px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    display:block;
    box-sizing:border-box;
}

  .contactus{
    -webkit-box-pack: center;
    justify-content: center;
    display:flex;
    margin-right:-15px;
    margin-left: -15px;
    box-sizing:border-box;
  }
  .heading-section{
    font-size:28px;
    color:#000;
    font-weight: 300;
    font-family: "Poppins", Arial, sans-serif;
    display:block;

  }
  .service{
    margin-left: 0;
    margin-right: 0;
    display:flex;
    box-sizing:border-box;
  }
  .left{
    padding-right:0;
    padding-left:0;
    display:block;
    -webkit-box-flex: 0;
    max-width: 50px;
    position: relative;
   
  }
  .details{
    box-sizing:border-box;
    display: block;

  }
  .write{
    margin-bottom: 0;
    line-height: 1.5;
    font-weight: 400;
    font-family: "Poppins", Arial, sans-serif;
    font-size: 20px;

  }






  .content h2{
    font-size:36px;
    
    color:#d6d6d6
  }
  .content p{
    font-size:40px;
    color:#ccc

  }
  .methods{
    display:grid;
    grid-template-columns: auto auto ;
    gap:2px;
  }
 .hmm {
    font-size: larger;
    line-height: 0.8cm;
    padding-left: 60px;
  }
  
  .hmm1{
padding-top: 80px;
line-height: 0.6cm;
  }

.hmm2{
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 412px;
}


.hmm2:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
/* Emmanuel - home - new box */
.newbox{
  float: right;
}
#clickbox1{
  width: 300px;
 height: 200px;
 background: linear-gradient(298deg,#f70b7f 3%,#9a249c 60%,#4f0dcf 97%);
 text-align: center;
 font-size: larger;
 color: #fff;
 cursor: pointer;
 border: 10px solid #fff;
 border-radius: 20px;
 }

#clickbox2{
  width: 300px;
 height: 200px;
 background: linear-gradient(298deg,#f70b7f 3%,#9a249c 60%,#4f0dcf 97%);
 text-align: center;
 font-size: larger;
 color: #fff;
 cursor: pointer;
 border: 10px solid #fff;
 border-radius: 20px;
 }

#clickbox3{
  width: 300px;
 height: 200px;
 background: linear-gradient(298deg,#f70b7f 3%,#9a249c 60%,#4f0dcf 97%);
 text-align: center;
 font-size: larger;
 color: #fff;
 cursor: pointer;
 border: 10px solid #fff;
 border-radius: 20px;
 }
 /* end of new box */
 /* casestudy font */

 p{
  font-size: larger;
 }
